<div class="wrapper">
  
    <p class="title">Delineations</p>
    <div class="wrapper__content">
    <div class="results">
    <p>TESddddddddT</p>
    <p>TEST</p>
    <p>TEST</p>
    </div>
  
  <div class="forms">
    <div class="import">
    <p>TEST</p>
    </div>
    <div class="export">
    <p>TEST</p>
    </div>
  </div>
  </div>

</div>