// Place all the styles related to the Delineations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrapper {
  padding: 40px;
}

.u-flex {
  display: flex;
  justify-content: space-between;
}

.export, .import {
  padding: 10px;
  border: solid 1px grey;
  margin-bottom: 10px;
}

.wrapper__content {
  display: flex;
  justify-content: space-between;
}

.results {
  border: solid 1px grey;
  padding: 10px;
  min-width: 33.33%;
}

.title {
  font-size: 30px;
  font-weight: bold;
}